@import  "./variables.pcss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.light{}

.pad_50{ padding: 50px; }

.mar_20{ margin: 20px; }
.mar_0_20{ margin: 0px 20px; }
.mar_20_0{ margin: 20px 0px; }

.mar_10{ margin: 10px; }
.mar_0_10{ margin: 0px 10px; }
.mar_10_0{ margin: 10px 0px; }

.pad_20{ padding: 20px; }
.pad_0_20{ padding: 0px 20px; }
.pad_20_0{ padding: 20px 0px; }

.fs{
	flex: 1 1 auto;
}
.fa{
	flex: 0 1 auto;
}
._100vh{
	height: 100vh;
}
.uppercase{
	text-transform: uppercase; 
}
.tcenter{
	text-align: center; 
}
.invisible{
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.icon{
	font-size: 14px;
	color: var(--dark-icon-color);
}
.light .icon{
	color: var(--light-icon-color);
}
.icon_border{
	border: 1px solid var(--dark-icon-color);
}
.light .icon_border{ 
	border-color: var(--light-icon-color);
}
.h4{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;	
}
.h5{
	text-transform: uppercase;
	font-size: 12px;	
	font-weight: bold;	
	color: var(--dark-h5);
}
.light .h5{
	color: var(--light-h5);
}

.caption{
	color: var(--dark-caption);
	font-size: 14px;
}
.light .caption{
	color: var(--light-caption);
}
.divider{
	margin: 40px 0;
	background-color: var(--dark-divider);
}
.light .divider{
	background-color: var(--light-divider);
}