:root{
    color: #FFF;
    --dark-icon-color: #a7a7a7;
    --dark-h5: #bec0c4;
    --dark-caption: #71757c;
    --dark-divider: rgba(123, 127, 134, 0.3);

    --light-icon-color: #3f3f3f;
    --light-h5: #bec0c4;
    --light-caption: #6c6c6c;
    --light-divider: rgba(255, 255, 255, 0.3);    
}
%abs{
    position: absolute;
    top: 0;
    left: 0;
}
%max{
    height: 100%;
    width: 100%;
}